jinja2~=3.1.4
markdown~=3.7
mkdocs~=1.6.1
mkdocs-material-extensions~=1.3.1
pygments~=2.18.0
pymdown-extensions~=10.12
mkdocs-minify-plugin~=0.8.0
# Requirements for plugins
babel~=2.16.0
colorama~=0.4.6
paginate~=0.5.7
regex>=2024.11.6
requests~=2.32.3